.Hero {
	position: relative;
	color: #1f2431;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 420px;
	background-color: hsla(0, 0%, 100%, 0.88);
	padding: 0 2em;
	max-width: 1150px;
	margin: 0 auto;
	&__title {
		font-size: 1.8em;
	}
	&__text {
		color: #82899b;
	}
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		max-width: 100%;
	}
	@media only screen and (min-width: 1000px) {
		&__content {
			max-width: 400px;
		}
		&__image {
			position: static;
			z-index: 0;
		}
	}
}
