.Info {
	grid-row: span 2;
	display: flex;
	flex-direction: column;
	&--small {
		grid-row: span 1;
	}
	&--large {
		grid-row: span 3;
	}
	&__title {
		color: #1f2431;
	}
	&__image {
		max-width: 100%;
		margin: 0 auto;
	}
	&__content {
		color: #82899b;
		& strong {
			color: #1f2431;
		}
	}
}
