.Roadmap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	&__item {
		margin-bottom: 3vw;
	}
	&__row {
		display: flex;
		align-items: center;
		height: 32px;
		&--space {
			justify-content: space-between;
		}
	}
	&__line {
		height: 2px;
		width: calc(100% - 32px);
		background-color: #eeeeff;
	}
	&__dot {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-right: 10px;
		&--small {
			width: 8px;
			height: 8px;
			margin-right: 3px;
		}
		&--white {
			background-image: linear-gradient(-45deg, #e1e1ff, #e1e1ff10);
		}
		&--green {
			background-image: linear-gradient(-45deg, #6ad050, #6ad05010);
		}
		&--blue {
			background-image: linear-gradient(-45deg, #7392fc, #7392fc10);
		}
	}
	&__date {
		font-size: 12px;
		font-weight: 200;
		color: #1f2431;
		margin: 0;
	}
	&__text {
		font-size: 0.8em;
		font-weight: 200;
		margin: 0;
		line-height: 1.25em;
	}
}
